<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Flask</title>
</head>
<body>
  <h2 align="center">Upload de Imagens com Flask</h2>
  <hr>
  <form method="post" enctype="multipart/form-data" action="/" >
    <dl>
      <p>
          <input type="file" name="file">
      </p>
    </dl>
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
</body>
</html>